@font-face {
    font-family: "JNR Gothic";
    src: url("fonts/JNRfont_n.ttf");
}

.JNR {
    font-family: "JNR Gothic";
}

.top_image{
    position: absolute;
    top: 50px;
    left: 100px;
    display: grid;
    place-items: center start ;
    height: 150px;
    grid-template-rows: 5fr 2fr;
    grid-template-columns: 230px 150px 400px;
}

.top_image #siteLogo{
    grid-row: 1/3;
    grid-column: 1/2;
    height: 100%;
    filter: drop-shadow(0 0 10px #ffffff);
}

.top_image #topTitle{
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background:linear-gradient(to right,rgba(0, 0, 0, 0.5) 0%, rgba(255, 181, 102, 0) 100%);
    font-size: 10vh;
    width: 100%;
    grid-row: 1;
    grid-column: 3;
}

.top_image #bottomTitle{
    background:linear-gradient(to right,rgba(0, 0, 0, 0.5) 0%, rgba(255, 181, 102, 0) 100%);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18pt;
    grid-row: 2;
    grid-column: 3;
}

.top_image span{
    color: #ffffff;
}

body{
    margin: 0;
}

.banner{
    position: relative;
    background: linear-gradient(to bottom,#00000000 0%,#00000000 60%,#ffffff 100%),url(Banner.jpg);
    background-clip: padding-box;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 260px;
}

.thubnail{
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 40fr 1fr;
    column-gap: 5px;
    grid-template-rows: 1fr 15fr 30fr 40fr 1fr;
    row-gap: 5px;
    place-items: center;
    width: 350px;
    height: 350px;
    background-color: rgb(255, 238, 216);
    border-radius: 10px;
    border: 1px #000000 solid;
}

.thubnail .first{
    font-size: 20pt;
    background-color: #000000a0;
    box-shadow: 0 0 3px 3px #000000a0;
    color: #ffffff;
    grid-column: 2;
    grid-row: 2;
    text-underline-position: under;
}

.thubnail .second{
    grid-column: 2;
    grid-row: 3;
}

.thubnail .third{
    justify-content: middle;
    background-color: #ffffff;
    box-shadow: 0 0 3px 3px #000000a0;
    border-radius: 10px;
    grid-column: 2;
    grid-row: 4;
}



.thubnail a{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.thubnail img{
    width: 97%;
    margin: 0 auto;
}

.gallery{
    margin-left: 8px;
    display: flex;
}

div.separate{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    width:500px;
    background: linear-gradient(to right,#000000 0%,#000000e7 60%, #ffffff 100%),url("topPage_images/Dots.png");
    background-size: contain;
    padding-left: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
}

div.separate h1{
    margin: 0;
}