:root{
    --ltd-color:#db572f;
}

@font-face {
    font-family: "JNR Gothic";
    src: url("fonts/JNRfont_n.ttf");
}

body{
    font-family: "IBM Plex Sans JP";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 8px;
}

h1{
    position: relative;
    left: -8px;
    padding-left: 30px;
    width: 480px;
    clip-path: polygon(60% 0%,0% 0%,0% 100%,100% 100%);
    background: linear-gradient(to bottom,#230f0f,#d34124);
    color:#dbd667;
    --shadow_plus :2.5px;
    --shadow_minus:calc(var(--shadow_plus)*-1);
    --shadow_color:#393c0c;
    text-shadow:
    var(--shadow_minus) var(--shadow_minus) 0 var(--shadow_color),
    var(--shadow_plus) var(--shadow_minus) 0 var(--shadow_color),
    var(--shadow_minus) var(--shadow_plus) 0 var(--shadow_color),
    var(--shadow_plus) var(--shadow_plus) 0 var(--shadow_color),
    2.5px 5px 2px #0000007c
    ;
}

.header{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    transition: all 0.3s ease;
}

.header :hover{
    transform: translateY(50px);
}


.header-inner{
    transform: none;
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: linear-gradient(to right,#d4872f,#ffd466);
    padding: 5px;
    align-items: center;
}

.header #site-Name{
    font-family: "JNR Gothic";
    font-size: 18pt;
    color: #000;
    --shadow_plus :1px;
    --shadow_minus:calc(var(--shadow_plus)*-1);
    --shadow_color:#ffffff;
    text-shadow:
    var(--shadow_minus) var(--shadow_minus) 0 var(--shadow_color),
    var(--shadow_plus) var(--shadow_minus) 0 var(--shadow_color),
    var(--shadow_minus) var(--shadow_plus) 0 var(--shadow_color),
    var(--shadow_plus) var(--shadow_plus) 0 var(--shadow_color),
    2.5px 5px 2px #0000007c
    ;
}

.site-link{
    padding: 0 8px 0 8px;
}

.vr{
    border-left: #00000070 solid 1px;
    height: 100%;
    margin: 0 8px 0 8px;
}

.header img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.header .blurImage{
    padding-right: 10px;
    height: 100%;
    width: fit-content;
    filter: drop-shadow(0 0 3px black);
}

#left_setting{
    vertical-align: middle;
}

.settings input{
    vertical-align: top;
    height: 12pt;
    font-size: 12pt;
    margin-left: 5px;
}

.ltd_color{
    display: flex;
    justify-content: left;
    margin: 2px;
    padding: 2px;
    width: 200px;
    color: var(--ltd-color);
    border-top: var(--ltd-color)  2px solid;
    border-bottom: var(--ltd-color)  2px solid;
}

.ltd_color h3{
    margin-left: 0;
    margin-right: 0;
    font-size: 17pt;
}

.ltd_color p{
    margin-left: 5px;
    margin-right: 0;
    font-size: 12pt;
}

h3,p{
    margin: auto;
}


.settings input{
    margin: auto;
    position: relative;
}

.settings input[type="checkbox"]{
    height: 18pt;
}

.settings span,.settings label{
    font-size: 12pt;
    margin: 2px;
    vertical-align: top;
}

.settings select{
    font-size: 12pt;
    vertical-align: top;
}

#setting-input{
    margin: auto;
    vertical-align: top;
}

#setting-input label.left{
    display: inline-block;
    width: 80px;
}

#Maku_box,.settings,.sample{
    text-align: left;
    padding: 5px;
    margin: 10px;
    width: fit-content;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
}

.under{
    display: flex;
}

.sample button{
    border-radius: 5px;
    margin: 2px;
    border: #000 solid;
    font-family: "IBM Plex Sans JP";
    font-weight: 800;
    font-size: 12pt;
    width: 100%;
    background: linear-gradient(135deg,#230f0f,#d34124);color:#dbd667;
    --shadow_plus :1px;
    --shadow_minus:calc(var(--shadow_plus)*-1);
    --shadow_color:#393c0c;
    text-shadow:
    var(--shadow_minus) var(--shadow_minus) 0 var(--shadow_color),
    var(--shadow_plus) var(--shadow_minus) 0 var(--shadow_color),
    var(--shadow_minus) var(--shadow_plus) 0 var(--shadow_color),
    var(--shadow_plus) var(--shadow_plus) 0 var(--shadow_color),
    2.5px 3px 2px #0000007c
    ;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease;
    cursor: pointer;
}

.settings button{
    margin-left: 10px;
}

.sample button:hover{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

.sample button:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

#Maku_soto{
    margin: 10px;
    border-radius: 40px;
    width: 515px;
    height: 150px;
    background-color: #1c1d22;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Maku_inner{
    background-color: #000;
    position: relative;
    width: 485px;
    height: 120px;
}

#Maku_shubetsu{
    position: relative;
    background: linear-gradient(to bottom,#230f0f,#d34124);
    color:#dbd667;
    --shadow_plus :2.5px;
    --shadow_minus:calc(var(--shadow_plus)*-1);
    --shadow_color:#393c0c;
    text-shadow:
    var(--shadow_minus) var(--shadow_minus) 0 var(--shadow_color),
    var(--shadow_plus) var(--shadow_minus) 0 var(--shadow_color),
    var(--shadow_minus) var(--shadow_plus) 0 var(--shadow_color),
    var(--shadow_plus) var(--shadow_plus) 0 var(--shadow_color),
    2.5px 5px 2px #0000007c;
    font-family: "IBM Plex Sans JP";
    font-weight: 700;
    height: 100%;
    width: 175px;
    display: flex;
    justify-content: center;
}

.gray#Maku_shubetsu{
    background: linear-gradient(to bottom,#000000 0%,#000000 60%,#d3d3d3 100%);
    color:white;
    text-shadow: none;
    font-family: "IBM Plex Sans JP";
    font-weight: 200;

}

#Exp_shubetsu{
    white-space: nowrap;
    position: absolute;
    top: -6px;
    font-size: 40.6pt;
    text-align-last: justify;
    width: fit-content;
    min-width: 95%;
    vertical-align: top;
}

.English #Exp_shubetsu{
    display: flex;
    justify-content:center;
}

.gray #Exp_shubetsu{
    top : 0px;
    font-size: 33pt;
    min-width: 75%;
}

#Exp_type{
    position: absolute;
    width: 95%;
    bottom: 3px;
    vertical-align: bottom;
    font-weight: 700;
    font-size: 40pt;
}

.gray #Exp_type{
    display: none;
}

#Exp_name{
    position: absolute;
    white-space: nowrap;
    text-align: left;
    bottom: -15px;
    left: 0;
    transform: scale(0.9,1);
    transform-origin: 0 0;
}

#Exp_count{
    position: absolute;
    text-align: right;
    bottom: -15px;
    right: 0;
    transform: scale(0.7,1.1);
    transform-origin: right center;
}

#right{
    position: absolute;
    right: 0;
    top:0;
    width: 310px;
    display: flex;
    justify-content: center;
    height: 100%;
}

#Maku_gousha{
    position: absolute;
    background-color: #fff;
    width: 46px;
    height: 46px;
    border-radius: 5px;
    bottom: 2px;
    left: 2px;
}

#gousha{
    font-family: "Zen Kaku Gothic New";
    font-weight: 700;
    letter-spacing: -2px;
    -webkit-text-stroke: 1px;
    position: absolute;
    top: -16px;
    text-align: center;
    width: 100%;
    font-size: 37pt;
}

#shiteiseki{
    position: absolute;
    background-color: #4a4a4a;
    bottom: 2px;
    right: 2px;
    width: 258px;
    height: 46px;
    border-radius: 5px;
}

#reserved{
    display: block;
    width: 100%;
    font-family: "IBM Plex Sans JP";
    font-weight: 700;
    text-align: center;
    font-size: 25pt;
    --shadow_plus :1.5px;
    --shadow_minus:-1.5px;
    text-shadow:
    var(--shadow_minus) var(--shadow_minus) 0 #000000,
    var(--shadow_plus) var(--shadow_minus) 0 #000000,
    var(--shadow_minus) var(--shadow_plus) 0 #000000,
    var(--shadow_plus) var(--shadow_plus) 0 #000000;
}

#ikisaki{
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    transform: scale(1,1);
    transform-origin: center;
    height: 70px;
    text-align: center;
    color: #fff;
    font-family: "IBM Plex Sans JP";
    font-weight: 700;
    font-size: 45pt;
    top: -5px;
}

.English #ikisaki{
    font-family: "Oxygen Mono";
    letter-spacing: -7px;
    top: -7px;
    font-weight: 400;
}

.English #reserved{
    font-family: "Oxygen Mono";
    letter-spacing: -2px;
}

.reserved #gousha{
    color: #4a9801;
}
.non-reserved #gousha{
    color: #1201cb;
}

.reserved #reserved{
    color: #a1fa92;
}

.non-reserved #reserved{
    color: #fff;
}